*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;  
}

.fone1{
    opacity: 0;
    margin-left: 5rem;
    animation: 7s oi infinite ease-in-out ,2s tra .5s forwards;
    position: relative;
    -webkit-box-reflect: below 0 linear-gradient(transparent,rgba(0,0,0,.1));
}

@keyframes oi{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}


@keyframes tra {
    to{
        opacity: 1;

    }
    from{
        opacity: 0;
        transform: translateY(2rem);
    }
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;
    background: linear-gradient(rgb(102, 47, 185),rgba(29, 5, 64, 0.974));  
}

section{
    animation: tra .5s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #1d1d2e;
    width: 60vh;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

section h2{
    color: #f2f2f2;
    font-size: 2.5rem;
    margin-top: 2rem;
}
section p{
    margin-bottom: 2rem;

}

section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label{
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 1s;
}
form input:focus{
    border-radius: 3rem;
}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
}
form textarea:focus{
    border-radius: 1rem;
}

form button{
    padding: 15px;
    cursor: pointer;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    transition: all 0.5s;
    background: transparent;
    margin-bottom: 20px;
}
form button:hover{
    background-color: white;
    color: black;
    border-radius: 3rem;
}

/*  Segunda Página  */

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}
.text{
    margin-bottom: 1rem;
    font-size: 40px;
}
.paragrafo{
    margin-bottom: 3rem;
    text-align: center;
}
.voltar{
    margin-top: 4rem;
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 20px;
    border: 2px solid white;
    transition: all 0.5s;
}
.voltar:hover{
    background-color: white;
    color: black;
    border-radius: 30px;
}
img{
    width: 27rem;
}
.fone2{
    position: absolute;
    margin-top: 3rem;
    animation: tra 1s;
}
@keyframes gra {
    to{
        transform: scale(1);
        opacity: 1;
    }
    from{
        transform: scale(0);
        opacity: 0;
    }
}

.fone3{
    visibility: hidden;
    width: 28.5rem;
    overflow: hidden;
    animation: 15s ola 1s infinite linear, 1s gra 1s;
}

@keyframes gra {
    to{
        transform: scale(1);
        visibility: visible;
    }
    from{
        transform: scale(0);
        visibility: hidden;
    }
}

@keyframes ola{
    to{
        transform: rotate(-336deg );
        visibility: visible;
    }
    from{
        transform: rotate(24deg );
        visibility: visible;
    }
}

/*  whatsapp  */

.whats{
    position: absolute;
    width: 8rem;
    top: 80%;
    left: 85%;
    animation: 10s whats infinite running;
    cursor: pointer;
    transition: all 1.5s ease-in-out;
}

.whats:hover{
    scale: 1.15;
}

@keyframes whats {
    0%{rotate: 10deg; scale: 1;}
    2%{rotate: -10deg; scale: 1.05;}
    4%{rotate: 10deg; scale: 1.05;}
    6%{rotate: -10deg; scale: 1.05;}
    8%{rotate: 10deg; scale: 1;}
    9%{rotate: 0deg; scale: 1;}
    75%{}
    100%{}
}


/*  medias  */

@media only screen and (max-width: 900px) {
    .fone1{
        display: none;
    }

    .fone2{
        width: 15rem;
    }
    .fone3{
        width: 22rem;
    }
    .paragrafo{
        text-align: justify;
        width: 80vw;
    }
    .text{
        font-size: 2rem;
        margin-left: 50px;
    }
  }
  @media only screen and (max-width: 500px) {
    section h2{
        font-size: 2rem;
    }
    .text{
        font-size: 2rem;
    }
    .paragrafo{

        text-align: justify;
        width: 80vw;
    }

    .fone2{
        width: 15rem;
    }
    .fone3{
        margin-top: -50px;
        width: 22rem;
    }
    .whats{
        left: 75%;
    }
  }
